/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.custom-loading {
    --spinner-color: var(--ion-color-purple);
    color: var(--ion-color-purple);
}

.alert-button {
    color: var(--ion-color-purple) !important;
}